  <div id="Contact">
      <div class="container">
            <div class="section-head">
    <h3 class="text-main">Contact Us To confirm Your Order.</h3>
</div>
<div class="contact pb-5">
  <div class="container">
  <div class="row ">
    <div class="col-md-4 text-center">
      <div class="item yes">
        <i class="fa-solid fa-location-arrow icon fs-3 no text-main" ></i>
        <h6 class="text-main">Address</h6>
        <p class="text-muted">5 Mohamed Thakeb Street Zamalek, Cairo ,Egypt</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="item yes">
        <i class="fa-solid fa-envelope icon fs-3 no text-main" ></i>
        <h6 class="text-main">Email</h6>
        <p class="text-muted">Support@website.com</p>
      </div>
    </div>
    <div class="col-md-4 text-center ">
      <div class="item yes">
        <i class="fa-solid fa-phone icon fs-3 no text-main " ></i>
        <h6 class="text-main">Phone</h6>
        <p class="text-muted">+20 011 2817 3602</p>
      </div>
    </div>
  </div>
  </div>
</div>
<form class="pt-5 pb-5">
  <div class="container">
<div class="row">
  <div class="col-md-6">
    <div class="item">
      <input type="text" name="name" class="form-control form"   placeholder="phone">
    </div>
  </div>
  <div class="col-md-6">
    <div class="item">
      <input type="text" name="name" class="form-control form"    placeholder="address">
    </div>
  </div>
  <div class="col-md-12">
    <div class="item">
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label" ></label>
  <textarea class="form-control form" id="exampleFormControlTextarea1" rows="4" placeholder="If you have a comment" ></textarea>
</div>  
<div class="d-flex justify-content-center align-items-center  mt-3 ps-5 pe-5 mb-2">
  <button (click)="goToContact()" class="btn btn-secondary">Submit</button>
</div>
  </div>
  </div>

</div>
</div>

</form>
      </div>
    </div>