<!-- Header Section -->
<header id="Home" class="min-vh-100 d-flex justify-content-center align-items-center">
  <div class="text-white text-center">
    <span class="fw-bold display-4">"Beyond Fashion:</span>
    <h2 class="fw-bold display-4">Embracing Inclusivity."<span class="auto-type fw-bold display-3"></span></h2>
    <div class="social-icon pt-5">
      <a href="#" class="text-white"><i class="fab fa-facebook px-1 fs-5"></i></a>
      <a href="#" class="text-white"><i class="fab fa-twitter px-1 fs-5"></i></a>
      <a href="#" class="text-white"><i class="fab fa-linkedin px-1 fs-5"></i></a>
      <a href="#" class="text-white"><i class="fab fa-behance px-1 fs-5"></i></a>
      <a href="#" class="text-white"><i class="fab fa-youtube px-1 fs-5"></i></a>
    </div>
  </div>
</header>

<!-- Products Section -->
<section class="m-3 container-fluid my-4">
  <h2>Popular Products</h2>
  <div class="row g-4 py-5 ms-3">
    <div class="col-md-6 col-lg-4" *ngFor="let item of products">
      <div class="product text-center">
        <div class="cursor-pointer" [routerLink]="['/details', item.id]">
          <img [src]="item.image" alt="{{ item.name }}" class="w-50 mb-3">
          <h3>{{ item.name }}</h3>
          <div>
            <span>{{ item.price }} EGP</span>
          </div>
        </div>
        <button (click)="addToCart(item.id)" class="btn text-white">Add To Cart</button>
      </div>
    </div>
  </div>
</section>